# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*
!web/app/mu-plugins/.gitkeep
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep
!web/app/mu-plugins/disallow-indexing.php
!web/app/mu-plugins/register-theme-directory.php
!web/app/mu-plugins/bedrock-autoloader.php

# WordPress
web/wp
web/.htaccess

# Vendor (e.g. Composer)
vendor/*
!vendor/.gitkeep

# Node Package Manager
node_modules

# Vagrant
bin
.vagrant

# PHPStorm
/.idea/
*.pydevproject
.project
.metadata
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
.cproject
.buildpath
nbproject/

# Others
[Tt]humbs.db
[Dd]esktop.ini
*.DS_store
.DS_store?

# Configs
config/environments/*
!config/environments/development.php
